<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>
<h2>You searched detail '{{detail}}'</h2>

{% if active or archive %}
<table style="width:100%">
    <tr>
        <th>Detail</th>
        <th>Status</th>
        <th>Part_of</th>
        <th>Product</th>
        <th>Amount</th>
    </tr>
    <tr>
        <td>{{detail}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    {% if active %}
        <tr>
            <td></td>
            <td>Active</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% for binder in active %}
            <tr>
                <td></td>
                <td></td>
                <td>{{binder.assembly.assembly_name}}</td>
                <td>{{binder.assembly.part_of_product.product_name}}</td>
                <td>{{binder.amount}}</td>
            </tr>
        {% endfor %}
    {% endif %}
    {% if archive %}
        <tr>
            <td></td>
            <td>Archive</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% for binder in archive %}
            <tr>
                <td></td>
                <td></td>
                <td>{{binder.assembly.assembly_name}}</td>
                <td>{{binder.assembly.part_of_product.product_name}}</td>
                <td>{{binder.amount}}</td>
            </tr>
        {% endfor %}
    {% endif %}
</table>
{% endif %}
</body>
</html>
